{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Free Food Finder</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	{% if user.is_authenticated %}
      	<p class="navbar-text">Hello, {{ user.username }}</p>
      	<li><a href="/user/logout_user">Logout</a></li>
      	{% else %}
      	<li><a href="/user/signin">Sign In</a></li>
      	<li><a href="/user/register">Register</a></li>
      	{% endif %}
      </ul>
    </div>
  </div>
</nav>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
    	{% block content %}{% endblock %}
	</div>
    <div class="col-md-3"></div>
</div>