{% extends "base.html" %}

{% block content %}
        <h3>Filter events by</h3>
        <div class="list-group">
            <a href="/filter/all/" class="list-group-item">
                <p class="list-group-item-text">All</p>
            </a>
            <a href="/filter/today/" class="list-group-item">
                <p class="list-group-item-text">Today</p>
            </a>
            <a href="/filter/week/" class="list-group-item">
                <p class="list-group-item-text">This Week</p>
            </a>
        </div>
{% endblock %}